<h3>Productos</h3>

<div>
  <div>
    <label>type</label>  
    <select ng-model="type_filter.value" ng-change="type_changed()">      
      <option ng-repeat="option in type_filter.options" value="{{option.value}}">{{option.name}}</option>
    </select>
  </div>
  <br/>
  <span ng-repeat="filter in filters" ng-if="filter.name != 'type'">
    <label>{{filter.name}}</label>  
    <select ng-model="current_filter[filter.name]" ng-change="changed()">
      <option value="">-- all --</option>
      <option ng-repeat="option in filter.options" value="{{option.value}}">{{option.name}}</option>
    </select>
  </span>
</div>

<br/>

<div ng-controller="ProductsCtrl">
  <div>
    Total: <b>{{product_count}}</b>
  </div>
  <table border="1">
    <thead>
      <tr>
        <th>id</th>
        <th ng-repeat="attr in product_attributes">{{attr}}</th>
        <th>transformations</th>
        <th>&nbsp;</th>
      </tr>      
    </thead>
    <tr ng-repeat="product in products">
      <td><a ng-href="#/products/{{product._id}}">{{product._id}}</a></td>
      <td ng-repeat="attr in product_attributes">{{product[attr]}}</td>
      <td>
        <span ng-repeat="transf in product.transformations">
          {{transf._id.substring(transf._id.length-5)}}</a>&nbsp;</span>
        </span>&nbsp;        
      </td>
      <td>
        <a ng-href="http://localhost:8080/api/v1/products/{{product._id}}/content">download</a>
      </td>
    </tr>
  </table>
</div>